In [4]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [5]:
%matplotlib inline

In [6]:
plt.rcParams['figure.figsize'] = (10, 5)

In [7]:
saved_style_state = matplotlib.rcParams.copy()

In [11]:
if os.path.isfile("Cycleway Counts_01Jan18_11Sept20.xlsx"):
    filepath = "Cycleway Counts_01Jan18_11Sept20.xlsx"
    print("loading from file")
else:
    filepath = "https://opendata.transport.nsw.gov.au/system/files/resources/Cycleway%20Counts_01Jan18_11Sept20.xlsx"
    print("loading from the internet")

cycleway_usage = pd.read_excel(filepath)
print("done")

loading from file
done

In [12]:
cycleway_usage.head()

,Average Daily Cycle Count,"100005 - Merremburn Avenue, Naremburn (offramp path) (Cycleway and Pedestrian counter)",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 486,Unnamed: 487,Unnamed: 488,Unnamed: 489,Unnamed: 490,Unnamed: 491,Unnamed: 492,Unnamed: 493,Unnamed: 494,Unnamed: 495
0,NaN,Cycling,NaN,NaN,NaN,NaN,Pedestrian,NaN,NaN,NaN,...,Pedestrian,NaN,NaN,NaN,NaN,Sum (All Transport Modes),NaN,NaN,NaN,NaN
1,NaN,North,East,South,West,All Directions,North,East,South,West,...,North,East,South,West,All Directions,North,East,South,West,All Directions
2,01/01/2018,,,,,,,,,,...,85.666667,50.833333,85.5,50.666667,272.666667,161,85.566667,153.966667,83.866667,484.4
3,02/01/2018,,,,,,,,,,...,71,44.333333,71.166667,44.333333,230.833333,192.2,102.733333,188.7,100.133333,583.766667
4,03/01/2018,,,,,,,,,,...,73,48.166667,73.166667,48.166667,242.5,195.466667,103.433333,189.766667,102.433333,591.1